In this notebook we cleaned up the data and merged the two tables that were created in the previous notebook, outputted is a csv file with all data. The next notebook is the GenreCorrection notebook that creates columns for the different Genres

In [1]:
import pandas as pd
import numpy as np

In [2]:
full_data = pd.read_csv('full_data_updates')
other_data = pd.read_csv('genre_vote_release_date')

In [4]:
full_data.head(2)

,Unnamed: 0,date,movie,budget,domestic_gross,worldwide_gross,worldwide_gross - budget,domestic_gross - budget,movie_no_punct
0,0,40683,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08,-169536125.0,Pirates+of+the+Caribbean+On+Stranger+Tides
1,1,43578,Avengers: Endgame,400000000.0,858373000.0,2.797801e+09,2.397801e+09,458373000.0,Avengers+Endgame

In [9]:
other_data.head()
other_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565 entries, 0 to 564
Data columns (total 5 columns):
Unnamed: 0      565 non-null int64
movie           565 non-null object
genre           565 non-null object
vote_avg        565 non-null float64
release_date    564 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 22.2+ KB

In [6]:
all_data = pd.merge(other_data, full_data, left_on='movie', right_on='movie_no_punct', how='left')

In [7]:
all_data.head()

,Unnamed: 0_x,movie_x,genre,vote_avg,release_date,Unnamed: 0_y,date,movie_y,budget,domestic_gross,worldwide_gross,worldwide_gross - budget,domestic_gross - budget,movie_no_punct
0,0,Pirates+of+the+Caribbean+On+Stranger+Tides,"[28, 12, 14]",6.4,2011-05-14,0,40683,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08,-169536125.0,Pirates+of+the+Caribbean+On+Stranger+Tides
1,1,Avengers+Endgame,"[28, 12, 878]",8.3,2019-04-24,1,43578,Avengers: Endgame,400000000.0,858373000.0,2.797801e+09,2.397801e+09,458373000.0,Avengers+Endgame
2,2,Avengers+Age+of+Ultron,"[28, 12, 878]",7.3,2015-04-22,2,42116,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09,128405868.0,Avengers+Age+of+Ultron
3,5,Avengers+Infinity+War,"[28, 12, 878]",8.3,2018-04-25,5,43215,Avengers: Infinity War,300000000.0,678815482.0,2.048360e+09,1.748360e+09,378815482.0,Avengers+Infinity+War
4,6,Pirates+of+the+Caribbean+At+World’s+End,"[28, 12, 14]",7.1,2007-05-19,6,39226,Pirates of the Caribbean: At World’s End,300000000.0,309420425.0,9.634204e+08,6.634204e+08,9420425.0,Pirates+of+the+Caribbean+At+World’s+End

In [10]:
all_data.drop(['Unnamed: 0_x', 'Unnamed: 0_y', 'date', 'movie_x', 'movie_no_punct' ], axis=1, inplace=True)

In [11]:
all_data.head()

,genre,vote_avg,release_date,movie_y,budget,domestic_gross,worldwide_gross,worldwide_gross - budget,domestic_gross - budget
0,"[28, 12, 14]",6.4,2011-05-14,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08,-169536125.0
1,"[28, 12, 878]",8.3,2019-04-24,Avengers: Endgame,400000000.0,858373000.0,2.797801e+09,2.397801e+09,458373000.0
2,"[28, 12, 878]",7.3,2015-04-22,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09,128405868.0
3,"[28, 12, 878]",8.3,2018-04-25,Avengers: Infinity War,300000000.0,678815482.0,2.048360e+09,1.748360e+09,378815482.0
4,"[28, 12, 14]",7.1,2007-05-19,Pirates of the Caribbean: At World’s End,300000000.0,309420425.0,9.634204e+08,6.634204e+08,9420425.0

In [12]:
all_data.to_csv('final_data_set_sam')