For this notebook we are adding new columns to with a 1 if that genre applies to that column, and a 0 if it doesnt. we felt this was the best way to adjust the data here since the genre showed up as symbols

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('final_data_set_sam')

In [4]:
df.head()

,Unnamed: 0,genre,vote_avg,release_date,movie_y,budget,domestic_gross,worldwide_gross,worldwide_gross - budget,domestic_gross - budget
0,0,"[28, 12, 14]",6.4,2011-05-14,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08,-169536125.0
1,1,"[28, 12, 878]",8.3,2019-04-24,Avengers: Endgame,400000000.0,858373000.0,2.797801e+09,2.397801e+09,458373000.0
2,2,"[28, 12, 878]",7.3,2015-04-22,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09,128405868.0
3,3,"[28, 12, 878]",8.3,2018-04-25,Avengers: Infinity War,300000000.0,678815482.0,2.048360e+09,1.748360e+09,378815482.0
4,4,"[28, 12, 14]",7.1,2007-05-19,Pirates of the Caribbean: At World’s End,300000000.0,309420425.0,9.634204e+08,6.634204e+08,9420425.0

In [25]:
if '28' in df['genre'][0]:
    print('yes')

yes

In [24]:
'24' in df['genre'][0]

False

In [35]:
df['isAction'] = df['genre'].apply(lambda x: '28' in x).astype(np.uint8)
df['isAdventure'] = df['genre'].apply(lambda x: '12' in x).astype(np.uint8)
df['isAnimation'] = df['genre'].apply(lambda x: '16' in x).astype(np.uint8)
df['isComedy'] = df['genre'].apply(lambda x: '35' in x).astype(np.uint8)
df['isCrime'] = df['genre'].apply(lambda x: '80' in x).astype(np.uint8)
df['isDocumentary'] = df['genre'].apply(lambda x: '99' in x).astype(np.uint8)
df['isDrama'] = df['genre'].apply(lambda x: '18' in x).astype(np.uint8)
df['isFamily'] = df['genre'].apply(lambda x: '10751' in x).astype(np.uint8)
df['isFantasy'] = df['genre'].apply(lambda x: '14' in x).astype(np.uint8)
df['isHistory'] = df['genre'].apply(lambda x: '36' in x).astype(np.uint8)
df['isHorror'] = df['genre'].apply(lambda x: '27' in x).astype(np.uint8)
df['isMusic'] = df['genre'].apply(lambda x: '10402' in x).astype(np.uint8)
df['isMystery'] = df['genre'].apply(lambda x: '9648' in x).astype(np.uint8)
df['isRomance'] = df['genre'].apply(lambda x: '10749' in x).astype(np.uint8)
df['isScify'] = df['genre'].apply(lambda x: '878' in x).astype(np.uint8)
df['isTVmovie'] = df['genre'].apply(lambda x: '10770' in x).astype(np.uint8)
df['isThriller'] = df['genre'].apply(lambda x: '53' in x).astype(np.uint8)
df['isWar'] = df['genre'].apply(lambda x: '10752' in x).astype(np.uint8)
df['isWestern'] = df['genre'].apply(lambda x: '37' in x).astype(np.uint8)

In [37]:
display(df.head())

,Unnamed: 0,genre,vote_avg,release_date,movie_y,budget,domestic_gross,worldwide_gross,worldwide_gross - budget,domestic_gross - budget,...,isHistory,isHorror,isMusic,isMystery,isRomance,isScify,isTVmovie,isThriller,isWar,isWestern
0,0,"[28, 12, 14]",6.4,2011-05-14,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,6.350639e+08,-169536125.0,...,0,0,0,0,0,0,0,0,0,0
1,1,"[28, 12, 878]",8.3,2019-04-24,Avengers: Endgame,400000000.0,858373000.0,2.797801e+09,2.397801e+09,458373000.0,...,0,0,0,0,0,1,0,0,0,0
2,2,"[28, 12, 878]",7.3,2015-04-22,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,1.072414e+09,128405868.0,...,0,0,0,0,0,1,0,0,0,0
3,3,"[28, 12, 878]",8.3,2018-04-25,Avengers: Infinity War,300000000.0,678815482.0,2.048360e+09,1.748360e+09,378815482.0,...,0,0,0,0,0,1,0,0,0,0
4,4,"[28, 12, 14]",7.1,2007-05-19,Pirates of the Caribbean: At World’s End,300000000.0,309420425.0,9.634204e+08,6.634204e+08,9420425.0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.to_csv('final_data_set_sam')