This notebook was used to compile the final set of data that was used, calculating a month out of the year and roi, and a few other tweaks to shore up the final data set.

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('new_data_sam_dec5')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,genre,vote_avg,release_date,movie_y,budget,domestic_gross,worldwide_gross,...,isHorror,isMusic,isMystery,isRomance,isScify,isTVmovie,isThriller,isWar,isWestern,rounded_vote
0,0,0,0,"[28, 12, 14]",6.4,2011-05-14,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,...,0,0,0,0,0,0,0,0,0,6.0
1,1,1,1,"[28, 12, 878]",8.3,2019-04-24,Avengers: Endgame,400000000.0,858373000.0,2.797801e+09,...,0,0,0,0,1,0,0,0,0,8.0
2,2,2,2,"[28, 12, 878]",7.3,2015-04-22,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,...,0,0,0,0,1,0,0,0,0,7.0
3,3,3,3,"[28, 12, 878]",8.3,2018-04-25,Avengers: Infinity War,300000000.0,678815482.0,2.048360e+09,...,0,0,0,0,1,0,0,0,0,8.0
4,4,4,4,"[28, 12, 14]",7.1,2007-05-19,Pirates of the Caribbean: At World’s End,300000000.0,309420425.0,9.634204e+08,...,0,0,0,0,0,0,0,0,0,7.0

In [4]:
df.release_date[0][5:7]

'05'

In [5]:
df['release_date'] = df['release_date'].astype('datetime64[ns]')

In [6]:
type(df.release_date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [9]:
df.loc[df['release_date'].isna(), 'release_date'] = '2018-11-09'
df['release_date'] = pd.to_datetime(df['release_date'])

In [10]:
df['month_year'] = df['release_date'].dt.month.astype(np.int)
months = {1: 'January', 
          2: 'February', 
          3: 'March',
          4: 'April',
          5: 'May',
          6: 'June',
          7: 'July',
          8: 'August',
          9: 'September',
          10: 'October',
          11: 'November',
          12: 'December'}
df['month_year'] = df['month_year'].apply(lambda x: months[x])

In [13]:
df['month#'] = df['release_date'].dt.month.astype(np.int)

In [14]:
df['roi'] = (df['worldwide_gross - budget'] / df.budget)*100

In [15]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,genre,vote_avg,release_date,movie_y,budget,domestic_gross,worldwide_gross,...,isRomance,isScify,isTVmovie,isThriller,isWar,isWestern,rounded_vote,month_year,roi,month#
0,0,0,0,"[28, 12, 14]",6.4,2011-05-14,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,...,0,0,0,0,0,0,6.0,May,154.667286,5
1,1,1,1,"[28, 12, 878]",8.3,2019-04-24,Avengers: Endgame,400000000.0,858373000.0,2.797801e+09,...,0,1,0,0,0,0,8.0,April,599.450141,4
2,2,2,2,"[28, 12, 878]",7.3,2015-04-22,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,...,0,1,0,0,0,0,7.0,April,324.384139,4
3,3,3,3,"[28, 12, 878]",8.3,2018-04-25,Avengers: Infinity War,300000000.0,678815482.0,2.048360e+09,...,0,1,0,0,0,0,8.0,April,582.786585,4
4,4,4,4,"[28, 12, 14]",7.1,2007-05-19,Pirates of the Caribbean: At World’s End,300000000.0,309420425.0,9.634204e+08,...,0,0,0,0,0,0,7.0,May,221.140142,5

In [16]:
df.to_csv('table_month_roi')